<nav class="navbar navbar-expand-lg bg-body">
    <div class="container-fluid" hx-boost="true" hx-push-url="true">
        <a href="/" class="navbar-brand">
            <img src="/assets/img/icon.png" alt="Icono" class="img nav-icon">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/heladeras">Heladeras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/colaboraciones">Colaborar</a>
                </li>
            </ul>
            <button hx-post="/logout" class="ms-auto btn btn-primary me-2" hx-target="body">Cerrar Sesión</button>
        </div>
    </div>
</nav>
