{{#>templates/partials/layout}}
  {{>templates/partials/adminnav}}
  <div class="container-lg vstack mt-3">
    <h3 class="h3 text-center my-3">
      Importar Datos Históricos
    </h3>
    <div class="container-lg content-container border border-3 rounded-4 bg-body p-3 mt-5">
      {{#each errors}}
        <div class="alert alert-danger" role="alert">
          {{this}}
        </div>
      {{/each}}
      {{#if success}}
        <div class="alert alert-success" role="alert">
          {{success}}
        </div>
      {{/if}}
      <form action="/admin/csvs" method="post" enctype="multipart/form-data" class="vstack p-4">
        <div class="mb-2 p-5 border border-primary border-3 rounded-3 d-flex flex-column
                    align-items-center justify-content-center"
             style="border-style: dotted !important">
          <input type="file" name="csv" id="csv" class="w-100 d-none" accept="text/csv" onchange="updateFileName()">
          <div class="file-picker" onclick="document.getElementById('csv').click();">
            <i class="fs-3 bi bi-file-earmark-arrow-up"></i>
            <span class="fs-3 fw-medium">Cargar Archivo CSV</span>
          </div>
          <div id="file-name" class="text-secondary"></div>
        </div>
        <button type="submit" class="btn btn-primary align-self-md-end mt-2">Importar</button>
      </form>
    </div>
  </div>

  <script>
    function updateFileName() {
      const input = document.getElementById('csv');
      const fileNameDiv = document.getElementById('file-name');
      if (input.files.length > 0) {
        fileNameDiv.textContent = input.files[0].name;
      } else {
        fileNameDiv.textContent = '';
      }
    }
  </script>

{{/templates/partials/layout}}