{{#>templates/partials/formulariocolaboracion
        title="Registrar a una persona vulnerable"
        image-url="/assets/img/registrarpersona-banner.png"
}}
    <form action="/colaboracion/registrarpersona" method="post" class="vstack p-4">
        <!-- TODO -->
    </form>
{{/templates/partials/formulariocolaboracion}}
